In [1]:
import pandas as pd 
import seaborn as sns 
import numpy as np 
import matplotlib.pyplot as plt  

%matplotlib  inline
print("Modules Imported")

Modules Imported

In [2]:
#Browse in Kaggle found https://www.kaggle.com/vascodegama/uk-covid19-data?select=England_Regions_COVID_Dataset.csv
df = pd.read_csv('England_Regions_COVID_Dataset.csv')

In [3]:
df.shape

(2500, 10)

In [4]:
df.head(15)

,date,areaName,newCasesByPublishDate,cumCasesByPublishDate,newDeaths28DaysByPublishDate,cumDeaths28DaysByPublishDate,cumDeaths28DaysByPublishDateRate,newDeaths28DaysByDeathDate,cumDeaths28DaysByDeathDate,cumDeaths28DaysByDeathDateRate
0,2020-01-05,South East,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2020-01-06,South East,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2020-01-07,South East,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2020-01-08,South East,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2020-01-09,South East,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5,2020-01-10,South East,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2020-01-11,South East,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7,2020-01-12,South East,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,2020-01-13,South East,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,2020-01-14,South East,0,NaN,0,NaN,NaN,NaN,NaN,NaN
10,2020-01-15,South East,0,NaN,0,NaN,NaN,NaN,NaN,NaN
11,2020-01-16,South East,0,NaN,0,NaN,NaN,NaN,NaN,NaN
12,2020-01-17,South East,0,NaN,0,NaN,NaN,NaN,NaN,NaN
13,2020-01-18,South East,0,NaN,0,NaN,NaN,NaN,NaN,NaN
14,2020-01-19,South East,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [5]:
df.insert(1, 'weekday', (pd.to_datetime(df.date).dt.day_name()))

In [6]:
df.head()

,date,weekday,areaName,newCasesByPublishDate,cumCasesByPublishDate,newDeaths28DaysByPublishDate,cumDeaths28DaysByPublishDate,cumDeaths28DaysByPublishDateRate,newDeaths28DaysByDeathDate,cumDeaths28DaysByDeathDate,cumDeaths28DaysByDeathDateRate
0,2020-01-05,Sunday,South East,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2020-01-06,Monday,South East,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2020-01-07,Tuesday,South East,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2020-01-08,Wednesday,South East,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2020-01-09,Thursday,South East,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In step 6 i.e.  df.insert(1, 'weekday', (pd.to_datetime(df.date).dt.day_name()))
A new column is being inserted at position 1 called weekday next to date at position 0.  In the column the values of the date column are being converted using the python datetime module and then to the name of the day using pandas